# Used Car Price Prediction
# 1. Problem Statement
This dataset comprises used cars sold on cardekho.com in India as well as important features of these cars

If user predict the price of the car based on input features

Prediction results can be used to give new seller the price suggestion based on market condition

# 2. Data Collection
The dataset is collectedd from scrapping from cardekho.com website

The dataset consists of 13 columns and 15411 rows

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv('cardekho_imputated.csv')

In [3]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df.isnull().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [5]:
# Dropping unnecessary columns
df = df.drop(columns = ['car_name','brand'])

In [6]:
df.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [7]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [8]:
# get all the numeric features
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of numerical features:', len(num_features))

# categorical features
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of categorical features:', len(cat_features))

# Discrete Features
dis_features = [feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of discrete features:', len(dis_features))

# Continuos Features
continuos_features = [feature for feature in num_features if feature not in dis_features]
print('Num of discrete features:', len(continuos_features))

Num of numerical features: 8
Num of categorical features: 4
Num of discrete features: 2
Num of discrete features: 6

In [11]:
# Independent and Dependent
from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'],axis=1)
y = df['selling_price']

In [12]:
X.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

# Feature Encdoing and Scaling

In [13]:
len(df['model'].unique())

120

In [14]:
df['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [16]:
X.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [17]:
len(df['seller_type'].unique()),len(df['fuel_type'].unique()),len(df['transmission_type'].unique())

(3, 5, 2)

In [20]:
# Create column transformer with 3 types of transformers
onehot_features = ['seller_type','fuel_type','transmission_type']
num_features = X.select_dtypes(exclude="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_features),
        ("StandardScaler", numeric_transformer, num_features)
    ],remainder='passthrough'
)

In [21]:
X = preprocessor.fit_transform(X)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
X_train.shape, X_test.shape

((12328, 15), (3083, 15))

# Model Training and Selection

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [25]:
# Create a function to evaluate model
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mse)
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [27]:
# Beginning Model Training
models = {
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "KNR":KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest Regressor":RandomForestRegressor()
}

for i in range (len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Make predicitons
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse , model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae , model_test_rmse , model_test_r2 = evaluate_model(y_test, y_test_pred)

    print(list(models.keys())[i])

    print("Model performance for Training Set")
    print("-RMSE: {:.4f}".format(model_train_rmse))
    print("-MAE: {:.4f}".format(model_train_mae))
    print("-R2 Score: {:.4f}".format(model_train_r2))

    print("---------------------------------------------------------")

    print("Model performance for Testing Set")
    print("-RMSE: {:.4f}".format(model_test_rmse))
    print("-MAE: {:.4f}".format(model_test_mae))
    print("-R2 Score: {:.4f}".format(model_test_r2))

    print("==========================================================")
    print("\n")

Linear Regression
Model performance for Training Set
-RMSE: 553850.0494
-MAE: 268104.1303
-R2 Score: 0.6218
---------------------------------------------------------
Model performance for Testing Set
-RMSE: 502582.0834
-MAE: 279686.6479
-R2 Score: 0.6645
==========================================================


Lasso
Model performance for Training Set
-RMSE: 553850.0538
-MAE: 268101.7491
-R2 Score: 0.6218
---------------------------------------------------------
Model performance for Testing Set
-RMSE: 502581.1494
-MAE: 279682.7929
-R2 Score: 0.6645
==========================================================


Ridge
Model performance for Training Set
-RMSE: 553850.6941
-MAE: 268061.4421
-R2 Score: 0.6218
---------------------------------------------------------
Model performance for Testing Set
-RMSE: 502572.3576
-MAE: 279625.1576
-R2 Score: 0.6645
==========================================================


KNR
Model performance for Training Set
-RMSE: 335460.8145
-MAE: 96905.2401
-R2 Score: 0.8612
---------------------------------------------------------
Model performance for Testing Set
-RMSE: 302364.2710
-MAE: 124343.6669
-R2 Score: 0.8786
==========================================================


Decision Tree
Model performance for Training Set
-RMSE: 0.0000
-MAE: 0.0000
-R2 Score: 1.0000
---------------------------------------------------------
Model performance for Testing Set
-RMSE: 329012.7465
-MAE: 130477.4165
-R2 Score: 0.8562
==========================================================


Random Forest Regressor
Model performance for Training Set
-RMSE: 122153.8933
-MAE: 36284.7372
-R2 Score: 0.9816
---------------------------------------------------------
Model performance for Testing Set
-RMSE: 230630.5386
-MAE: 97645.8077
-R2 Score: 0.9293
==========================================================

In [28]:
# Initialize few parameter for Hyperparameter Tuning
knn_params = {"n_neighbors":[2,3,10,20,40,50]}
rf_params = {
    "max_depth": [5,8,15,None,10],
    "max_features": [5,7,"auto",8],
    "min_samples_split": [2,8,15,20],
    "n_estimators": [100,200,500,1000]
            }

In [29]:
# Models list for Hyperparameter Tuning
randomcv_models = [('KNN', KNeighborsRegressor(), knn_params),
                  ('RF', RandomForestRegressor(), rf_params)]

In [30]:
# Hyperparameter Tuning
from sklearn.model_selection import RandomizedSearchCV
model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                               param_distributions=params,
                               n_iter=100,
                               cv=3,
                               verbose=2,
                               n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"-------------------Best Params for {model_name} -----------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
-------------------Best Params for KNN -----------
{'n_neighbors': 2}
-------------------Best Params for RF -----------
{'n_estimators': 500, 'min_samples_split': 2, 'max_features': 7, 'max_depth': None}

In [33]:
models = {
    "Random Forest" : RandomForestRegressor(n_estimators=500, min_samples_split=2,
                                            max_features=7, max_depth=None, n_jobs=-1),
    "KNR" : KNeighborsRegressor(n_neighbors=2, n_jobs=-1)
}

for i in range (len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # Make predicitons
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    print(list(models.keys())[i])

    print("Model performance for Training Set")
    print("-RMSE: {:.4f}".format(model_train_rmse))
    print("-MAE: {:.4f}".format(model_train_mae))
    print("-R2 Score: {:.4f}".format(model_train_r2))

    print("---------------------------------------------------------")

    print("Model performance for Testing Set")
    print("-RMSE: {:.4f}".format(model_test_rmse))
    print("-MAE: {:.4f}".format(model_test_mae))
    print("-R2 Score: {:.4f}".format(model_test_r2))

    print("==========================================================")
    print("\n")

Random Forest
Model performance for Training Set
-RMSE: 122153.8933
-MAE: 36284.7372
-R2 Score: 0.9816
---------------------------------------------------------
Model performance for Testing Set
-RMSE: 230630.5386
-MAE: 97645.8077
-R2 Score: 0.9293
==========================================================


KNR
Model performance for Training Set
-RMSE: 122153.8933
-MAE: 36284.7372
-R2 Score: 0.9816
---------------------------------------------------------
Model performance for Testing Set
-RMSE: 230630.5386
-MAE: 97645.8077
-R2 Score: 0.9293
==========================================================